@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background: #ffffff;
}

@layer utilities {
  .container-px {
    @apply px-4 sm:px-6 lg:px-8;
  }
}
