version: "3.9"

services:
  app:
    build: .
    container_name: diaxel
    ports:
      - "8081:8080"
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:16-alpine
    container_name: diaxel-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: diaxel_zerde
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: dokuzu_desu
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: